$RECYCLE.BIN/
*~
-*
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.editorconfig
.eslintcache
.fseventsd
.gitignore
.npm/
.npmignore
.Spotlight-V100
.TemporaryItems
.tm_properties
.Trashes
.VolumeIcon.icns
.yarn-integrity
build/
coverage/
Desktop.ini
ehthumbs.db
ehthumbs_vista.db
node_modules/
scripts/
src/
Thumbs.db
yarn-debug.log*
yarn-error.log*
